* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
}
.navtitle {
    display: flex;
    justify-content: space-between;
    background-color:darkkhaki;
}
ul {
    display: flex;
}
ul li{
    padding: 10px;
    list-style-type: none;
    margin: 0 5px;
}
a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}